@charset "utf-8";

/* --- Properties ------------------------------- */

:root {
  --color1: #fff;
  --color2: #ff0066;
  --color3: #bbe004;
  --color4: #1c003d;
  --imageBase: 4rem; /* Image item base dimension */
  --linkBase: calc(var(--imageBase) * .75); /* Link chip base dimension */
  --iconBase: calc(var(--imageBase) / 2); /* Link chip icon base dimension */
  --strokeWeight: calc(var(--imageBase) / 8); /* Stroke base dimension (for image items borders and timeline) */
}

/* --- Common ------------------------------- */

.btn {
  display: inline-block;
  position: relative;
  padding: 0;
  border: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  text-decoration: none;
  background-color: rgba(255,255,255,0);
  cursor: pointer;
}

.btn::before {
  display: block;
  content: " ";
  width: 1rem;
  height: 1rem;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  opacity: 0;
  margin: auto;
  border-radius: 100%;
  background-image: radial-gradient(rgba(255,255,255,.3),rgba(255,255,255,0));
  transition: transform .2s ease-in, opacity .1s ease-in;
}

.btn:not([disabled]):active::before {
  opacity: .5;
  transform: scale(10);
  transition: transform .2s ease-in, opacity .1s ease-in;
}

.btn[disabled] {
  cursor: default;
}

/* --- Check switch ------------------------------- */

.btn--check .btn__label {
  dispay: inline-block;
  position: relative;
  padding: .7rem 4.7rem .7rem 1rem;
  border-radius: 2rem;
  font-weight: 700;
  color: var(--color2);
  background-color: var(--color3);
}

.btn--check .btn__label::before,
.btn--check .btn__label::after {
  display: block;
  content: " ";
  position: absolute; top: 0; bottom: 0;
  margin: auto;
  border-radius: 2rem;
}

.btn--check .btn__label::before {
  width: 3.6rem;
  height: .5rem;
  right: .4rem;
  opacity: 0;
  background-color: var(--color4);
}

.btn--check .btn__label::after {
  width: 1rem;
  height: 1rem;
  right: .5rem;
  border: .4rem solid rgba(255,255,255,.5);
  transition: transform .1s ease-in-out;
}

.btn--check:not([disabled]):focus .btn__label,
.btn--check:not([disabled]):hover .btn__label,
.btn--check:not([disabled]):active .btn__label {
  background-image: radial-gradient(rgba(0,0,0,.05),rgba(0,0,0,.2));
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.btn--check.btn--checked .btn__label::before {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.btn--check.btn--checked .btn__label::after {
  border-color: var(--color2);
  background-color: var(--color1);
  transform: translateX(-1.9rem);
  transition: transform .1s .1s ease-in-out;
}

/* --- Toggle switch ------------------------------- */

.btn-toggle {
  display: grid;
  grid-template-columns: repeat(2,calc(50% - 1.8rem));
  grid-column-gap: 3.6rem;
  position: relative;
  padding: 0;
  border-radius: 2rem;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  background-color: var(--color3);
}

.btn-toggle::before,
.btn-toggle::after {
  display: block;
  content: " ";
  position: absolute; top: 0; bottom: 0;
  margin: auto;
  border-radius: 2rem;
}

.btn-toggle::before {
  width: 3.6rem;
  height: .5rem;
  right: 0; left: 0;
  opacity: 0;
  background-color: var(--color4);
  transition: opacity .1s ease-in;
}

.btn-toggle::after {
  width: 1rem;
  height: 1rem;
  right: 0; left: 0;
  border: .4rem solid rgba(255,255,255,.5);
  transition: transform .1s ease-in-out;
}

.btn-toggle__label {
  display: block;
  padding: .7rem 1rem;
  border-radius: 2rem;
  font-weight: 700;
  color: var(--color2);
}

.btn-toggle__item:nth-child(1) .btn-toggle__label {
  text-align: left;
}

.btn-toggle__item:nth-last-child(1) .btn-toggle__label {
  text-align: right;
}

.btn-toggle[data-checked]::before {
  opacity: 1;
}

.btn-toggle[data-checked]::after {
  border-color: var(--color2);
  background-color: var(--color1);
}

.btn-toggle[data-checked="0"]::after {
  transform: translateX(-1rem);
}

.btn-toggle[data-checked="1"]::after {
  transform: translateX(1rem);
}

.btn-toggle[data-checked="0"] .btn-toggle__item:nth-last-child(1),
.btn-toggle[data-checked="1"] .btn-toggle__item:nth-child(1) {
  opacity: .5;
}

.btn-toggle[data-checked="0"] .btn-toggle__item:nth-last-child(1) .btn-toggle__label,
.btn-toggle[data-checked="1"] .btn-toggle__item:nth-child(1) .btn-toggle__label {
  color: rgba(0,0,0,.8);
}
